body {
    margin: 0;
    background-image: url(../images/groovepaper.png);
    font-family: "Microsoft YaHei" !important;
}

.head-content {
    width: 100%;
    height: 104px;
    background-image: url(../images/tweed.png);
    margin-top: 0;
}

.head-content-inner {
    width: 960px;
    margin: 0 auto;
}

.head-content-inner h1 {
    font-family: "Microsoft YaHei" !important;
    line-height: inherit;
    font-weight: bolder;
    color: #fff;
    font-size: 32px;
    margin: 0 0 5px 0;
    padding-top: 20px;

}

.head-content-inner p {
    width: 694px;
    height: 20px;
    color: #fff;
    margin: 0 0 17px 0;
}

.head-bottom {
    background-image: url(../images/ticks.png);
    padding: 10px 0;
}

.head-bottom p {
    width: 960px;
    margin: 0 auto;
    font-size: 14px;
    line-height: normal;
}

.head-bottomer {
    text-align: right;
}

.head-bottom a {
    text-decoration: none;
    color: #848bca;
}

.head-bottom a:hover {
    text-decoration: underline;
    color: #428bca;
    cursor: pointer;
}

.first-content {
    width: 960px;
    margin: 0 auto;
    border-top: 1px solid transparent;
}

.first-content ul {
    overflow: hidden;
    padding-left: 0;
    margin: 0;
}

.first-content h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 0;
    line-height: 1.1;
    font-weight: 500;
    width: 726px;
}

.first-content li {
    list-style-type: none;
    float: left;
    box-sizing: border-box;
    width: 14.285714285714286%;
}

.first-content li a {
    border-radius: 4px 4px 0 0;
    display: block;
    border-bottom: 1px solid #999;
    margin-right: 0;
    margin-bottom: 0;
    text-align: center;
    position: relative;
    color: #428bca;
    padding: 8px 15px;
    text-decoration: none;
    height: 82px;
}

.first-content a.cat-active-list {
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: transparent;
}

.first-content li a:hover {
    color: #2a6496;
    background-color: #ddd;
}

.first-content-introduction {
    padding: 20px;
    box-sizing: border-box;
    width: 960px;
    height: 600px;
    border: 1px solid #999;
    border-top: 0;
    font-size: 14px;
}

.first-content-right {
    float: right;
    width: 300px;
}

.first-content-left {
    background-color: #f12;
    width: 600px;
    height: 100%;
    float: left;
}

.first-content-right h4 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    /*float: right;*/
    /*box-sizing: border-box;*/
}

.first-content-right hr {
    border-top: 1px solid #ddd;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin: 20px 0;

}

.first-content-right p {
    font-size: 14px;
    margin: 0 0 10px;
    /*box-sizing: border-box;*/
}

.first-content-bottom {
    font-size: 14px;
    margin: 0 0 10px;
    text-align: right;
}

.top-middle-content {
    width: 960px;
    height: 400px;
    margin: 0 auto;
}

.top-middle-content h3 {
    width: 726px;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 0;
    font-weight: 500;
}

.top-middle-content-bottom {
    background-color: #ffd700;
    width: 100%;
    height: 400px;
}

.lower-middle-content {
    width: 960px;
    height: 400px;
    margin: 0 auto;
}

.lower-middle-content h4 {
    text-align: center;
}

.lower-middle-content-left {
    width: 320px;
    height: 300px;
    float: left;
    background-color: #f12;
}

.lower-middle-content-center {
    width: 320px;
    height: 300px;
    float: left;
    background-color: #eee;
}

.lower-middle-content-right {
    width: 320px;
    height: 300px;
    float: left;
    background-color: #ddd;
}


.last-content{
    width: 960px;
    height: 700px;
    margin: 0 auto;
}
.last-content h3{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}
.last-content ul {
    overflow: hidden;
    padding-left: 0;
    margin: 0;
}


.last-content li {
    border-bottom: 1px solid #eee;
    list-style-type: none;
    float: left;
    box-sizing: border-box;
    width: 14.285714285714286%;
}

.last-content li a {
    border-radius: 4px 4px 0 0;
    display: block;
    margin-right: 0;
    margin-bottom: 0;
    text-align: center;
    position: relative;
    color: #428bca;
    padding: 8px 15px;
    text-decoration: none;
    height: 82px;
}

.last-content li.last-content-head {
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: transparent;
}

.last-content li a:hover {
    color: #2a6496;
    background-color: #ddd;
}
.last-content-introduction {
    padding: 20px;
    box-sizing: border-box;
    width: 960px;
    border: 1px solid #dddddd;
    border-top: 0;
    font-size: 14px;
}